<div style="padding: 10px;text-align: right;">
    <button mat-raised-button color="primary" (click)="newPost()">POST</button>
</div>
<mat-divider></mat-divider>
<mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabChange($event)">
    <mat-tab label="Posted">
        <div class="docs-tutorials-list" *ngFor="let item of postedData">
            <a href="" class="docs-tutorials-list-item">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>{{item.PostDate}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="item.Thumnail">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>                  
            </a>
        </div>
    </mat-tab>
    <mat-tab label="Draft">
        <div class="docs-tutorials-list" *ngFor="let item of draftData">
            <a href="" class="docs-tutorials-list-item">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>{{item.PostDate}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="item.Thumnail">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>                  
            </a>
        </div>
    </mat-tab>
</mat-tab-group>
  